* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
.scoreContainer,
.youLose {
  color: #ccc;
  font-family: sans-serif;
}
.scoreContainer {
  margin-top: 15px;
}
.youLose {
  position: absolute;
  font-size: 20px;
  margin-top: 120px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
#gameBoard {
  background-color: #ccc;
  width: 85vmin;
  height: 80vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-color: blue;
  border: 0.25vmin solid black;
  z-index: 1;
}

.apple {
  background-color: red;
  border: 0.25vmin solid black;
}
